@import "style-base.scss";
@import "header.scss";
@import "footer.scss";

.article {
	max-width: 700px;
	padding: 0px 10px 30px;
	margin: 0px auto;

	&__title {
		font-size: 34px;
		font-weight: 700;
		line-height: 50 / 34 * 100%;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md3+px) {
			font-size: 30px;
		}
	}

	&__info {
		display: flex;
		margin: 0px 0px 20px 0px;
	}

	&__year {
		display: flex;
		padding: 0px 10px;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		font-weight: 900;
		color: #fff;
		background-color: $ruby;
		height: 25px;
		border-radius: 16px;
	}

	&__category {
		align-self: center;
		font-size: 20px; 
		line-height: 25 / 20 * 100%;
		margin: 0px 0px 0px 25px;
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
	}

	&__text {
		p {
			@extend .text;
			margin: 0px 0px 20px 0px;
		}
		h2, h3 {
			font-size: 30px;
			font-weight: 500;
			line-height: 60 / 30 * 100%;
		}
		h3 {
			font-size: 24px;
		}
		img {
			max-width: 100%;
			margin: 0px 0px 20px 0px;
		}
		a {
			font-weight: 500;
			color: inherit;
			&:hover {
				color: $ruby;
			}
		}
	}
}

