@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}

@font-face {
	font-family: "icons-font";
	src: url("../fonts/icons-font.eot?ogfcew");
	src: url("../fonts/icons-font.eot?ogfcew#iefix") format("embedded-opentype"), url("../fonts/icons-font.ttf?ogfcew") format("truetype"), url("../fonts/icons-font.woff?ogfcew") format("woff"), url("../fonts/icons-font.svg?ogfcew#icons-font") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
[class^=icon-]::before, [class*=" icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons-font" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
	content: "";
}

.icon-instagram:before {
	content: "";
}

.icon-youtube:before {
	content: "";
}

body {
	font-family: "Heebo";
	color: #21243d;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 856px;
	margin: 0px auto;
}
@media (max-width: 991.98px) {
	._container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	._container {
		max-width: none;
		padding: 0px 10px;
	}
}

.title {
	font-size: 44px;
	font-weight: 700;
	line-height: 136.3636363636%;
}
@media (max-width: 767.98px) {
	.title {
		font-size: 32px;
	}
}

.text {
	font-size: 16px;
	line-height: 143.75%;
}

.button {
	background-color: #ff6464;
	border-radius: 2px;
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	line-height: 145%;
	height: 47px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0px 20px;
	transition: background-color 0.3s ease 0s;
}
.button:hover {
	background-color: #00a8cc;
}

.page {
	flex: 1 1 auto;
	padding: 90px 0px 0px 0px;
}
@media (max-width: 767.98px) {
	.page {
		padding: 35px 0px 0px 0px;
	}
}

.posts-title {
	font-size: 22px;
}
@media (max-width: 767.98px) {
	.posts-title {
		text-align: center;
		font-size: 18px;
	}
}

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social__item {
	transition: color 0.3s ease 0s;
	margin: 0px 17px;
	font-size: 30px;
	color: inherit;
}
.social__item:hover {
	color: #ff6464;
}

.header__content {
	max-width: 1098px;
	padding: 0px 33px;
	margin: 0px auto;
}
.menu__list {
	min-height: 82px;
	align-items: center;
	padding: 10px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.menu__list li {
	display: inline-block;
	padding: 10px 0px;
	margin-left: 33px;
}
.menu__link {
	font-size: 20px;
	font-weight: 500;
	color: #000;
	transition: color 0.3s ease 0s;
}
.menu__link:hover {
	color: #ff6464;
}
.menu__active {
	color: #ff6464;
}

.footer {
	text-align: center;
	padding: 50px 0px;
}
@media (max-width: 767.98px) {
	.footer {
		padding: 30px 0px;
	}
}
.footer__social {
	margin: 0px 0px 25px 0px;
}
.contact {
	padding: 30px 0px 70px 0px;
}
@media (max-width: 991.98px) {
	.contact {
		padding: 0px 0px 70px 0px;
	}
}
@media (max-width: 767.98px) {
	.contact {
		padding: 0px 0px 60px 0px;
	}
}
.contact__container {
	display: flex;
}
@media (max-width: 767.98px) {
	.contact__container {
		text-align: center;
		flex-direction: column-reverse;
		align-items: center;
	}
}
.contact__content {
	align-items: flex-start;
	padding: 20px 110px 0px 0px;
	flex: 1 1 auto;
}
.contact__content *:last-child {
	margin-bottom: 0px;
}
@media (max-width: 991.98px) {
	.contact__content {
		padding: 20px 50px 0px 0px;
	}
}
@media (max-width: 767.98px) {
	.contact__content {
		padding: 0px 0px 0px 0px;
	}
}
.contact__title {
	margin: 0px 0px 25px 0px;
}
@media (max-width: 767.98px) {
	.contact__title {
		margin: 0px 0px 20px 0px;
	}
}
.contact__text {
	margin: 0px 0px 35px 0px;
}
@media (max-width: 767.98px) {
	.contact__text {
		margin: 0px 0px 25px 0px;
		padding: 0px 15px 0px 15px;
		text-align: left;
	}
}
.contact__contact-way {
	font-size: 18px;
	font-weight: 500;
	margin: 0px 0px 10px 0px;
	color: inherit;
}
@media (max-width: 767.98px) {
	.contact__contact-way {
		font-size: 16px;
	}
}
.contact__location {
	flex: 0 0 500px;
	display: flex;
	justify-items: center;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 5px #edf7fa;
	height: 500px;
	width: 500px;
	text-align: center;
}
.contact__location img {
	max-width: 100%;
}
@media (max-width: 991.98px) {
	.contact__location {
		max-width: 400px;
		max-height: 400px;
	}
}
@media (max-width: 767.98px) {
	.contact__location {
		margin: 0px 0px 40px 0px;
	}
}
@media (max-width: 479.98px) {
	.contact__location {
		max-width: 300px;
		max-height: 300px;
		margin: 0px 0px 40px 0px;
	}
}

.email-message {
	display: flex;
	background-color: #edf7fa;
}
.email-message__container {
	width: 100%;
}
.email-message__content {
	width: 100%;
}
.email-message__title {
	justify-self: left;
	padding: 0px 0px 0px 20px;
	margin: 20px 0px;
}
@media (max-width: 991.98px) {
	.email-message__title {
		margin: 15px 0px;
	}
}
@media (max-width: 767.98px) {
	.email-message__title {
		padding: 0px 0px 0px 10px;
		margin: 10px 0px;
	}
}
.email-message__form {
	padding: 0px 20px;
	margin: 0px 0px 30px 0px;
}
@media (max-width: 767.98px) {
	.email-message__form {
		padding: 0px 10px;
	}
}
@media (max-width: 767.98px) {
	.email-message__form {
		margin: 0px 0px 15px 0px;
	}
}
.email-message__label, .email-message__text-field, .email-message__text-area {
	width: 100%;
	display: block;
}
.email-message__label {
	margin: 0px 0px 5px 0px;
}
.email-message__text-field, .email-message__text-area {
	font-size: 16px;
	line-height: 162.5%;
	padding: 10px 10px;
	margin: 0px 0px 15px 0px;
	color: inherit;
	border: none;
	border-radius: 4px;
}
.email-message__text-area {
	margin: 0px 0px 30px 0px;
	height: 200px;
}
@media (max-width: 767.98px) {
	.email-message__text-area {
		margin: 0px 0px 15px 0px;
	}
}
.email-message__button-container {
	display: flex;
	justify-content: center;
}
.email-message__submit-button {
	display: block;
}