.works__item {
	padding: 0px 0px 30px 0px;
	margin: 0px 0px 30px 0px;
	border-bottom: 1px solid #e0e0e0;
}
.works__item:last-child {
	margin-bottom: 0px;
}
@media (min-width: 767.98px) {
	.works__item {
		display: flex;
		align-items: flex-start;
	}
}
.works__image {
	display: block;
	flex: 0 0 250px;
	border-radius: 6px;
	min-height: 180px;
	overflow: hidden;
}
@media (max-width: 767.98px) {
	.works__image {
		margin: 0px 0px 17px 0px;
		padding: 0px 0px 60% 0px;
	}
}
.works__body {
	flex: 1 1 auto;
}
@media (min-width: 767.98px) {
	.works__body {
		padding: 0px 0px 0px 18px;
	}
}
.works__title {
	display: inline-block;
	color: inherit;
	font-size: 30px;
	font-weight: 700;
	line-height: 146.6666666667%;
	margin: 0px 0px 15px 0px;
	transition: color 0.3s ease 0s;
}
@media (max-width: 767.98px) {
	.works__title {
		font-size: 24px;
	}
}
.works__title:hover {
	color: #ff6464;
}
.works__info {
	display: flex;
	align-items: center;
	margin: 0px 0px 15px 0px;
}
.works__year {
	display: inline-flex;
	background-color: #142850;
	border-radius: 16px;
	height: 25px;
	padding: 0px 10px;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 900;
	font-size: 18px;
}
.works__category {
	color: #8695a4;
	font-size: 20px;
	margin: 0px 0px 0px 25px;
}