$fontFamily: "Heebo";
$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$ruby: #ff6464;
$turquoise: #00a8cc;
$darkBlue: #21243d;
$lightGray: #8695a4;
$lightBlue: #edf7fa;
$dateBackground: #142850;
